<section class="singleFruitBox">
    <div>
        @if(fruit.stars < 5){
            <img src="./assets/img/fruits/{{fruit.img}}" alt="" srcset="">
        } @else {
            
        }
    </div>
    <div>
        <h2> {{fruit.name}}</h2>
        <div>
            <p><b>Bewertung:</b></p>
            <!-- <div>
                <ng-container *ngFor="let count of [1, 2, 3, 4, 5]">
                  <ng-container [ngSwitch]="fruit.stars >= count ? 'full' : (fruit.stars >= count - 0.5 ? 'half' : 'empty')">
                    <img *ngSwitchCase="'full'" src="./assets/img/stars/star.svg" alt="Voller Stern" srcset="">
                    <img *ngSwitchCase="'half'" src="./assets/img/stars/star-half.svg" alt="Halber Stern" srcset="">
                    <img *ngSwitchDefault src="./assets/img/stars/star-empty.svg" alt="Leerer Stern" srcset="">
                  </ng-container>
                </ng-container>
                <p>({{fruit.stars}})</p>
              </div> -->
              

            <div>

                @for(count of [1, 2, 3, 4, 5]; track fruit){
                    @if(fruit.stars >= count){
                        <img src="./assets/img/stars/star.svg" alt="" srcset="">
                    } @else if (fruit.stars >= count - 0.5){
                        <img src="./assets/img/stars/star-half.svg" alt="" srcset="">
                    } @else {
                        <img src="./assets/img/stars/star-empty.svg" alt="" srcset="">
                    }

                }
              


                <p>({{fruit.stars}})</p>
            </div>
        </div>
        <div><b>Art:</b><br>{{fruit.genus}}</div>
        <div><b>Beschreibung:</b><br>{{fruit.description}}</div>
        <div>
            <div>
                @for(review of fruit.reviews; track review){
                    <div><b>{{review.name}}:</b><br>{{review.text}}</div>
                } @empty {
                    no comments availeble
                }    
            </div>
            <div><input [(ngModel)]="inputData" type="text"><button><img (click)="sendInputData()" src="./assets/img/arrow-35-32.png" alt="" srcset=""></button>
            </div>
        </div>
    </div>
</section>
